.tabs-tabs ul {
  display: table;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tabs-tabs ul li {
  display: table-cell;
  width: 25%;
  height: 100%;
  vertical-align: middle;
  font-size: .813em;
}
.tabs-tabs ul li > a {
  display: block;
  height: 100%;
  box-sizing: content-box;
  padding: 42px 0;
  font: 1em 'AvenirLTStd95Black', Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  background-color: rgba(0, 0, 0, 0.6);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000)";
}
.tabs-tabs ul li > a:hover,
.tabs-tabs ul li > a:focus {
  background-color: #ffffff;
  color: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000, endColorstr=#22000000)";
  text-decoration: none;
}
.tabs-tabs ul li .tab-title {
  display: block;
  padding: 0 10px;
}
.tabs-tabs ul li:first-child a {
  margin-left: 0;
}
.tabs-tabs ul li.active {
  text-align: center;
  background-color: #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000)";
  color: #000000;
  cursor: default;
}
.tabs-tabs ul li.active h1,
.tabs-tabs ul li.active h2,
.tabs-tabs ul li.active h3,
.tabs-tabs ul li.active h4,
.tabs-tabs ul li.active h5,
.tabs-tabs ul li.active h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
}
.tabs-tabs ul li.active .tab-title {
  display: block;
  font: 1em 'AvenirLTStd95Black', Arial, sans-serif;
  text-align: center;
}
.tabs-tabs ul li.active a,
.tabs-tabs ul li.active a:hover {
  text-decoration: none;
}
.tabs-tabs.tabs-type-1 li {
  width: 20%;
  vertical-align: top;
}
.tabs-tabs.tabs-type-1 li:first-child a {
  border-left: none;
}
.tabs-tabs.tabs-type-1 li a {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  padding: 30px 10px;
  color: #ffffff;
  min-height: 95px;
}
.tabs-tabs.tabs-type-1 li a .icon {
  display: block;
  width: 100%;
  font-size: 4.755434782608695em;
}
.tabs-tabs.tabs-type-1 li a:hover,
.tabs-tabs.tabs-type-1 li a:focus {
  background: #ffffff;
  color: #000000;
}
.tabs-tabs.tabs-type-1 li.active {
  padding-top: 4%;
}
.tabs-tabs.tabs-type-1 li.active .icon {
  display: block;
  width: 100%;
  font-size: 4.755434782608695em;
}
.tabs-tabs.tabs-type-3 ul {
  overflow: inherit;
}
.tabs-tabs.tabs-type-3 li {
  vertical-align: top;
}
.tabs-tabs.tabs-type-3 li:first-child a {
  border-left: none;
}
.tabs-tabs.tabs-type-3 li a {
  filter: none;
  width: auto;
  height: 152px;
  border-left: 1px solid #ffffff;
  background: none #e9eaec;
  color: #000000;
  -webkit-transition: background-color 0.4s ease-in;
  transition: background-color 0.4s ease-in;
}
.tabs-tabs.tabs-type-3 li a .icon {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 50px;
  font-size: 4.755434782608695em;
}
.tabs-tabs.tabs-type-3 li a:hover {
  background: #3c76e0;
  color: #ffffff;
}
.tabs-tabs.tabs-type-3 li.active {
  background: #3c76e0;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  font-family: 'AvenirLTStd95Black', Arial, sans-serif;
  line-height: 1.1em;
}
.tabs-tabs.tabs-type-3 li.active .tab-title {
  position: relative;
  left: 0;
  top: -1px;
}
.tabs-tabs.tabs-type-3 li.active .tab-title:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -44px;
  margin-left: -8px;
  border-top: 8px solid #3c76e0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.tabs-tabs.tabs-type-3 li.active .icon {
  display: block;
  width: 100%;
  height: 60px;
  margin-top: 5px;
  line-height: 50px;
  font-size: 4.755434782608695em;
}
.tabs-tabs.tabs-type-4 li {
  width: 20%;
  border-left: 1px solid #8d8b8c;
  border-bottom: 1px solid #8d8b8c;
  font-size: 1em;
}
.tabs-tabs.tabs-type-4 li.active {
  background-color: #17479e;
  border-bottom: none;
}
.tabs-tabs.tabs-type-4 li.active .tab-title {
  color: #ffffff;
}
.tabs-tabs.tabs-type-4 li.active a {
  background-color: #17479e;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.tabs-tabs.tabs-type-4 li:first-child {
  border-left: none;
}
.tabs-tabs.tabs-type-4 li a {
  display: table;
  width: 100%;
  height: 105px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000)";
}
.tabs-tabs.tabs-type-4 li a .tab-title {
  display: table-cell;
  padding: 31px 0;
  vertical-align: middle;
}
.tabs-tabs.tabs-type-4 li a:hover,
.tabs-tabs.tabs-type-4 li a:focus {
  background-color: #17479e;
  color: #ffffff;
}
.tabs-content .tab-content .inner {
  clear: both;
  padding: 0;
}
.tabs-content .tab-content .inner .item {
  margin-bottom: 0;
  list-style: none;
}
.tabs-content .tab-content .inner .item .button {
  margin: 5px 0 0 0;
}
.tabs-content.style-1 {
  background-color: #17479e;
}
.tabs-content.style-1 .inner {
  padding: 0 15px 0 3px;
}
.tabs-content.style-1 .wrap-btn {
  margin-bottom: 26px;
}
.tabs-content.style-1 .wrap-btn .button {
  font-size: 0.813em;
}
.tabs-content.style-1 .tab-layout .tab-title a,
.tabs-content.style-1 .tab-layout.active .tab-title a {
  background-color: #17479e;
  color: #ffffff;
}
.tabs-content.style-1 .tab-layout.active .tab-title a {
  border-top: 1px solid #ffffff;
}
.tabs-content.style-1 .tab-layout:first-child.active .tab-title a {
  border-top: none;
}
.tabs-content.style-1 .tab-content {
  padding: 8px 0 0 31px;
}
.tabs-content.style-1 .intro-text {
  padding-bottom: 20px;
  font-size: 0.75em;
  line-height: 16px;
}
.ipad-content .tabs-tabs {
  width: 960px;
  margin: 0 auto;
}
.ipad-content .tabs-tabs ul li a {
  border: none;
  background: none transparent;
}
.ipad-content .tabs-tabs ul li a:hover {
  background-color: transparent;
  color: #ffffff;
}
.tabs-view {
  width: 100%;
  overflow: hidden;
}
.tabs-view ul {
  margin-bottom: 0;
}
.tabs-view ul.tab-map h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
}
.tabs-view ul.tab-map a {
  display: block;
  width: 100%;
  height: 100%;
}
.tabs-view ul.tab-map a .icon {
  vertical-align: middle;
}
.tabs-view li {
  display: table-cell;
  width: 28px;
  height: 28px;
  text-align: center;
  background: #cbcbcb;
  border: 1px solid #b8b8b8;
  border-bottom: none;
  vertical-align: middle;
}
.tabs-view li .icon {
  color: #6d6d6d;
}
.tabs-view li .icon.icon-location {
  font-size: 1.2em;
}
.tabs-view li .icon.icon-burger {
  font-size: 1.563em;
}
.tabs-view li .tab-title {
  position: absolute;
  text-indent: -9999px;
  margin-left: 999px;
}
.tabs-view li.active {
  background: #ffffff;
  border: none;
}
.tabs-view li.active .icon {
  color: #353535;
}
.list-link-tab {
  margin-top: -10px;
  list-style: none;
}
.list-link-tab li {
  margin-top: 10px;
  margin-bottom: 20px;
}
.list-link-tab li a {
  text-decoration: none;
  font-size: 0.813em;
}
.list-link-tab li a .icon-angle-right {
  display: table-cell;
  font-size: 1.6em;
  vertical-align: middle;
}
.list-link-tab li a .text {
  display: table-cell;
  font: 1em 'AvenirLTStd95Black', Arial, sans-serif;
  padding-left: 5px;
  padding-top: 5px;
  text-align: left;
}
.list-link-tab li a:hover .text,
.list-link-tab li a:focus .text {
  text-decoration: underline;
}
@media (max-width: 992px) {
  .ipad-content .tabs-tabs {
    width: 768px;
  }
}
@media (max-width: 991px) {
  .tabs-tabs.tabs-type-4 li a .tab-title {
    font-size: 0.875em;
  }
  .tabs-content.style-1 .tab-content {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .tabs-content .tab-content {
    padding: 20px 10px;
  }
  .tabs-content.style-1 .tab-content {
    border-top: 1px solid #ffffff;
    background-color: #092f76;
  }
  .tabs-content.style-1 .col-sm-4 .inner {
    padding: 0 10%;
  }
  .tabs-content.style-1 .col-sm-4:first-child .inner {
    padding-top: 20px;
  }
  .tabs-content.style-1 .wrap-btn .button {
    width: 100%;
  }
}
