/* (c)AlloCiné */
/* Small Flags */
.flag_XX{background-position:0 0;}
.flag_AD{background-position:-30px 0;}/*Andorra*/
.flag_AE{background-position:-60px 0;}/*United Arab Emirates*/
.flag_AF{background-position:-90px 0;}/*Afghanistan*/
.flag_AG{background-position:-120px 0;}/*Antigua and Barbuda*/
.flag_AI{background-position:-150px 0;}/*Anguilla*/
.flag_AL{background-position:-180px 0;}/*Albania*/
.flag_AM{background-position:-210px 0;}/*Armenia*/
.flag_AN{background-position:-240px 0;}/*Netherlands Antilles*/
.flag_AO{background-position:-270px 0;}/*Angola*/
.flag_AQ{background-position:-300px 0;}/*Antarctica*/
.flag_AR{background-position:-330px 0;}/*Argentina*/
.flag_AS{background-position:-360px 0;}/*American Samoa*/
.flag_AT{background-position:-390px 0;}/*Austria*/
.flag_AU{background-position:-420px 0;}/*Australia*/
.flag_AW{background-position:-450px 0;}/*Aruba*/
.flag_AZ{background-position:-480px 0;}/*Azerbaijan*/
.flag_BA{background-position:-510px 0;}/*Bosnia and Herzegovina*/
.flag_BB{background-position:-540px 0;}/*Barbados*/
.flag_BD{background-position:-570px 0;}/*Bangladesh*/
.flag_BE{background-position:-600px 0;}/*Belgium*/
.flag_BF{background-position:-630px 0;}/*Burkina Faso*/
.flag_BG{background-position:-660px 0;}/*Bulgaria*/
.flag_BH{background-position:-690px 0;}/*Bahrain*/
.flag_BI{background-position:-720px 0;}/*Burundi*/
.flag_BJ{background-position:-750px 0;}/*Benin*/
.flag_BM{background-position:-780px 0;}/*Bermuda*/
.flag_BN{background-position:-810px 0;}/*Brunei Darussalam*/
.flag_BO{background-position:-840px 0;}/*Bolivia*/
.flag_BR{background-position:-870px 0;}/*Brazil*/
.flag_BS{background-position:-900px 0;}/*Bahamas*/
.flag_BT{background-position:-930px 0;}/*Bhutan*/
.flag_BW{background-position:-960px 0;}/*Botswana*/
.flag_BY{background-position:-990px 0;}/*Belarus*/
.flag_BZ{background-position:-1020px 0;}/*Belize*/
.flag_CA{background-position:-1050px 0;}/*Canada*/
.flag_CD{background-position:-1080px 0;}/*Congo, Democratic Republic of the*/
.flag_CF{background-position:-1110px 0;}/*Central African Republic*/
.flag_CG{background-position:-1140px 0;}/*Congo*/
.flag_CH{background-position:-1170px 0;}/*Switzerland*/
.flag_CI{background-position:-1200px 0;}/*Cote d'Ivoire*/
.flag_CK{background-position:-1230px 0;}/*Cook Islands*/
.flag_CL{background-position:-1260px 0;}/*Chile*/
.flag_CM{background-position:-1290px 0;}/*Cameroon*/
.flag_CN{background-position:-1320px 0;}/*China*/
.flag_CO{background-position:-1350px 0;}/*Colombia*/
.flag_CR{background-position:-1380px 0;}/*Costa Rica*/
.flag_CS{background-position:-5190px 0;}/*Serbia*/
.flag_CU{background-position:-1410px 0;}/*Cuba*/
.flag_CV{background-position:-1440px 0;}/*Cape Verde*/
.flag_CY{background-position:-1470px 0;}/*Cyprus*/
.flag_CZ{background-position:-1500px 0;}/*Czech Republic*/
.flag_DE{background-position:-1530px 0;}/*Germany*/
.flag_DJ{background-position:-1560px 0;}/*Djibouti*/
.flag_DK{background-position:-1590px 0;}/*Denmark*/
.flag_DM{background-position:-1620px 0;}/*Dominica*/
.flag_DO{background-position:-1650px 0;}/*Dominican Republic*/
.flag_DZ{background-position:-1680px 0;}/*Algeria*/
.flag_EC{background-position:-1710px 0;}/*Ecuador*/
.flag_EE{background-position:-1740px 0;}/*Estonia*/
.flag_EG{background-position:-1770px 0;}/*Egypt*/
.flag_EH{background-position:-1800px 0;}/*Western Sahara*/
.flag_ER{background-position:-1830px 0;}/*Eritrea*/
.flag_ES{background-position:-1860px 0;}/*Spain*/
.flag_ET{background-position:-1890px 0;}/*Ethiopia*/
.flag_FI{background-position:-1920px 0;}/*Finland*/
.flag_FJ{background-position:-1950px 0;}/*Fiji*/
.flag_FM{background-position:-1980px 0;}/*Micronesia*/
.flag_FO{background-position:-2010px 0;}/*Faroe Islands*/
.flag_FR{background-position:-2040px 0;}/*France*/
.flag_GA{background-position:-2070px 0;}/*Gabon*/
.flag_GB{background-position:-2100px 0;}/*United Kingdom*/
.flag_GD{background-position:-2130px 0;}/*Grenada*/
.flag_GE{background-position:-2160px 0;}/*Georgia*/
.flag_GG{background-position:-2190px 0;}/*Guernsey*/
.flag_GH{background-position:-2220px 0;}/*Ghana*/
.flag_GI{background-position:-2250px 0;}/*Gibraltar*/
.flag_GL{background-position:-2280px 0;}/*Greenland*/
.flag_GM{background-position:-2310px 0;}/*Gambia*/
.flag_GN{background-position:-2340px 0;}/*Guinea*/
.flag_GP{background-position:-2370px 0;}/*Guadeloupe*/
.flag_GQ{background-position:-2400px 0;}/*Equatorial Guinea*/
.flag_GR{background-position:-2430px 0;}/*Greece*/
.flag_GT{background-position:-2460px 0;}/*Guatemala*/
.flag_GU{background-position:-2490px 0;}/*Guam*/
.flag_GW{background-position:-2520px 0;}/*Guinea-Bissau*/
.flag_GY{background-position:-2550px 0;}/*Guyana*/
.flag_HK{background-position:-2580px 0;}/*Hong Kong, SAR of China*/
.flag_HN{background-position:-2610px 0;}/*Honduras*/
.flag_HR{background-position:-2640px 0;}/*Croatia*/
.flag_HT{background-position:-2670px 0;}/*Haiti*/
.flag_HU{background-position:-2700px 0;}/*Hungary*/
.flag_ID{background-position:-2730px 0;}/*Indonesia*/
.flag_IE{background-position:-2760px 0;}/*Ireland*/
.flag_IL{background-position:-2790px 0;}/*Israel*/
.flag_IM{background-position:-2820px 0;}/*Isle of Man*/
.flag_IN{background-position:-2850px 0;}/*India*/
.flag_IQ{background-position:-2880px 0;}/*Iraq*/
.flag_IR{background-position:-2910px 0;}/*Iran,*/
.flag_IS{background-position:-2940px 0;}/*Iceland*/
.flag_IT{background-position:-2970px 0;}/*Italy*/
.flag_JE{background-position:-3000px 0;}/*Jersey*/
.flag_JM{background-position:-3030px 0;}/*Jamaica*/
.flag_JO{background-position:-3060px 0;}/*Jordan*/
.flag_JP{background-position:-3090px 0;}/*Japan*/
.flag_KE{background-position:-3120px 0;}/*Kenya*/
.flag_KG{background-position:-3150px 0;}/*Kyrgyzstan*/
.flag_KH{background-position:-3180px 0;}/*Cambodia*/
.flag_KI{background-position:-3210px 0;}/*Kiribati*/
.flag_KM{background-position:-3240px 0;}/*Comoros*/
.flag_KN{background-position:-3270px 0;}/*Saint Kitts and Nevis*/
.flag_KP{background-position:-3300px 0;}/*Korea, Democratic People's Republic of*/
.flag_KR{background-position:-3330px 0;}/*Korea, Republic of*/
.flag_KW{background-position:-3360px 0;}/*Kuwait*/
.flag_KY{background-position:-3390px 0;}/*Cayman Islands*/
.flag_KZ{background-position:-3420px 0;}/*Kazakhstan*/
.flag_LA{background-position:-3450px 0;}/*Lao People's Democratic Republic*/
.flag_LB{background-position:-3480px 0;}/*Lebanon*/
.flag_LC{background-position:-3510px 0;}/*Saint Lucia*/
.flag_LI{background-position:-3540px 0;}/*Liechtenstein*/
.flag_LK{background-position:-3570px 0;}/*Sri Lanka*/
.flag_LR{background-position:-3600px 0;}/*Liberia*/
.flag_LS{background-position:-3630px 0;}/*Lesotho*/
.flag_LT{background-position:-3660px 0;}/*Lithuania*/
.flag_LU{background-position:-3690px 0;}/*Luxembourg*/
.flag_LV{background-position:-3720px 0;}/*Latvia*/
.flag_LY{background-position:-3750px 0;}/*Libyan Arab Jamahiriya*/
.flag_MA{background-position:-3780px 0;}/*Morocco*/
.flag_MC{background-position:-3810px 0;}/*Monaco*/
.flag_MD{background-position:-3840px 0;}/*Moldova*/
.flag_ME{background-position:-3870px 0;}/*Montenegro*/
.flag_MG{background-position:-3900px 0;}/*Madagascar*/
.flag_MH{background-position:-3930px 0;}/*Marshall Islands*/
.flag_MK{background-position:-3960px 0;}/*Macedonia*/
.flag_ML{background-position:-3990px 0;}/*Mali*/
.flag_MM{background-position:-4020px 0;}/*Myanmar*/
.flag_MN{background-position:-4050px 0;}/*Mongolia*/
.flag_MO{background-position:-4080px 0;}/*Macao*/
.flag_MQ{background-position:-4110px 0;}/*Martinique*/
.flag_MR{background-position:-4140px 0;}/*Mauritania*/
.flag_MS{background-position:-4170px 0;}/*Montserrat*/
.flag_MT{background-position:-4200px 0;}/*Malta*/
.flag_MU{background-position:-4230px 0;}/*Mauritius*/
.flag_MV{background-position:-4260px 0;}/*Maldives*/
.flag_MW{background-position:-4290px 0;}/*Malawi*/
.flag_MX{background-position:-4320px 0;}/*Mexico*/
.flag_MY{background-position:-4350px 0;}/*Malaysia*/
.flag_MZ{background-position:-4380px 0;}/*Mozambique*/
.flag_NA{background-position:-4410px 0;}/*Namibia*/
.flag_NC{background-position:-4440px 0;}/*New Caledonia*/
.flag_NE{background-position:-4470px 0;}/*Niger*/
.flag_NG{background-position:-4500px 0;}/*Nigeria*/
.flag_NI{background-position:-4530px 0;}/*Nicaragua*/
.flag_NL{background-position:-4560px 0;}/*Netherlands*/
.flag_NO{background-position:-4590px 0;}/*Norway*/
.flag_NP{background-position:-4620px 0;}/*Nepal*/
.flag_NR{background-position:-4650px 0;}/*Nauru*/
.flag_NZ{background-position:-4680px 0;}/*New Zealand*/
.flag_OM{background-position:-4710px 0;}/*Oman*/
.flag_PA{background-position:-4740px 0;}/*Panama*/
.flag_PE{background-position:-4770px 0;}/*Peru*/
.flag_PF{background-position:-4800px 0;}/*French Polynesia*/
.flag_PG{background-position:-4830px 0;}/*Papua New Guinea*/
.flag_PH{background-position:-4860px 0;}/*Philippines*/
.flag_PK{background-position:-4890px 0;}/*Pakistan*/
.flag_PL{background-position:-4920px 0;}/*Poland*/
.flag_PR{background-position:-4950px 0;}/*Puerto Rico*/
.flag_PS{background-position:-4980px 0;}/*Palestinian Territory*/
.flag_PT{background-position:-5010px 0;}/*Portugal*/
.flag_PW{background-position:-5040px 0;}/*Palau*/
.flag_PY{background-position:-5070px 0;}/*Paraguay*/
.flag_QA{background-position:-5100px 0;}/*Qatar*/
.flag_RE{background-position:-5130px 0;}/*Reunion*/
.flag_RO{background-position:-5160px 0;}/*Romania*/
.flag_RS{background-position:-5190px 0;}/*Serbia*/
.flag_RU{background-position:-5220px 0;}/*Russian Federation*/
.flag_RW{background-position:-5250px 0;}/*Rwanda*/
.flag_SA{background-position:-5280px 0;}/*Saudi Arabia*/
.flag_SB{background-position:-5310px 0;}/*Solomon Islands*/
.flag_SC{background-position:-5340px 0;}/*Seychelles*/
.flag_SD{background-position:-5370px 0;}/*Sudan*/
.flag_SE{background-position:-5400px 0;}/*Sweden*/
.flag_SG{background-position:-5430px 0;}/*Singapore*/
.flag_SI{background-position:-5460px 0;}/*Slovenia*/
.flag_SK{background-position:-5490px 0;}/*Slovakia*/
.flag_SL{background-position:-5520px 0;}/*Sierra Leone*/
.flag_SM{background-position:-5550px 0;}/*San Marino*/
.flag_SN{background-position:-5580px 0;}/*Senegal*/
.flag_SO{background-position:-5610px 0;}/*Somalia*/
.flag_SR{background-position:-5640px 0;}/*Suriname*/
.flag_ST{background-position:-5670px 0;}/*Sao Tome and Principe*/
.flag_SV{background-position:-5700px 0;}/*El Salvador*/
.flag_SY{background-position:-5730px 0;}/*Syrian Arab Republic*/
.flag_SZ{background-position:-5760px 0;}/*Swaziland*/
.flag_TC{background-position:-5790px 0;}/*Turks*/
.flag_TD{background-position:-5820px 0;}/*Chad*/
.flag_TG{background-position:-5850px 0;}/*Togo*/
.flag_TH{background-position:-5880px 0;}/*Thailand*/
.flag_TJ{background-position:-5910px 0;}/*Tajikistan*/
.flag_TL{background-position:-5940px 0;}/*Timor-Leste*/
.flag_TM{background-position:-5970px 0;}/*Turkmenistan*/
.flag_TN{background-position:-6000px 0;}/*Tunisia*/
.flag_TO{background-position:-6030px 0;}/*Tonga*/
.flag_TR{background-position:-6060px 0;}/*Turkey*/
.flag_TT{background-position:-6090px 0;}/*Trinidad and Tobago*/
.flag_TV{background-position:-6120px 0;}/*Tuvalu*/
.flag_TW{background-position:-6150px 0;}/*Taiwan*/
.flag_TZ{background-position:-6180px 0;}/*Tanzania*/
.flag_UA{background-position:-6210px 0;}/*Ukraine*/
.flag_UG{background-position:-6240px 0;}/*Uganda*/
.flag_US{background-position:-6270px 0;}/*United States*/
.flag_UY{background-position:-6300px 0;}/*Uruguay*/
.flag_UZ{background-position:-6330px 0;}/*Uzbekistan*/
.flag_VA{background-position:-6360px 0;}/*Holy See*/
.flag_VC{background-position:-6390px 0;}/*Saint Vincent and the Grenadines*/
.flag_VE{background-position:-6420px 0;}/*Venezuela*/
.flag_VG{background-position:-6450px 0;}/*Virgin Islands, British*/
.flag_VI{background-position:-6480px 0;}/*Virgin Islands, U.S.*/
.flag_VN{background-position:-6510px 0;}/*Viet Nam*/
.flag_VU{background-position:-6540px 0;}/*Vanuatu*/
.flag_WS{background-position:-6570px 0;}/*Samoa*/
.flag_YE{background-position:-6600px 0;}/*Yemen*/
.flag_ZA{background-position:-6630px 0;}/*South Africa*/
.flag_ZM{background-position:-6660px 0;}/*Zambia*/
.flag_ZW{background-position:-6690px 0;}/*Zimbabwe*/
/* Big Flags */
.flag__big, .flag_XX_big{background-position:0 -22px;}
.flag_AD_big{background-position:-46px -22px;}
.flag_AE_big{background-position:-92px -22px;}
.flag_AF_big{background-position:-138px -22px;}
.flag_AG_big{background-position:-184px -22px;}
.flag_AI_big{background-position:-230px -22px;}
.flag_AL_big{background-position:-276px -22px;}
.flag_AM_big{background-position:-322px -22px;}
.flag_AN_big{background-position:-368px -22px;}
.flag_AO_big{background-position:-414px -22px;}
.flag_AQ_big{background-position:-460px -22px;}
.flag_AR_big{background-position:-506px -22px;}
.flag_AS_big{background-position:-552px -22px;}
.flag_AT_big{background-position:-598px -22px;}
.flag_AU_big{background-position:-644px -22px;}
.flag_AW_big{background-position:-690px -22px;}
.flag_AZ_big{background-position:-736px -22px;}
.flag_BA_big{background-position:-782px -22px;}
.flag_BB_big{background-position:-828px -22px;}
.flag_BD_big{background-position:-874px -22px;}
.flag_BE_big{background-position:-920px -22px;}
.flag_BF_big{background-position:-966px -22px;}
.flag_BG_big{background-position:-1012px -22px;}
.flag_BH_big{background-position:-1058px -22px;}
.flag_BI_big{background-position:-1104px -22px;}
.flag_BJ_big{background-position:-1150px -22px;}
.flag_BM_big{background-position:-1196px -22px;}
.flag_BN_big{background-position:-1242px -22px;}
.flag_BO_big{background-position:-1288px -22px;}
.flag_BR_big{background-position:-1334px -22px;}
.flag_BS_big{background-position:-1380px -22px;}
.flag_BT_big{background-position:-1426px -22px;}
.flag_BW_big{background-position:-1472px -22px;}
.flag_BY_big{background-position:-1518px -22px;}
.flag_BZ_big{background-position:-1564px -22px;}
.flag_CA_big{background-position:-1610px -22px;}
.flag_CD_big{background-position:-1656px -22px;}
.flag_CF_big{background-position:-1702px -22px;}
.flag_CG_big{background-position:-1748px -22px;}
.flag_CH_big{background-position:-1794px -22px;}
.flag_CI_big{background-position:-1840px -22px;}
.flag_CK_big{background-position:-1886px -22px;}
.flag_CL_big{background-position:-1932px -22px;}
.flag_CM_big{background-position:-1978px -22px;}
.flag_CN_big{background-position:-2024px -22px;}
.flag_CO_big{background-position:-2070px -22px;}
.flag_CR_big{background-position:-2116px -22px;}
.flag_CS_big{background-position:-7958px -22px;}
.flag_CU_big{background-position:-2162px -22px;}
.flag_CV_big{background-position:-2208px -22px;}
.flag_CY_big{background-position:-2254px -22px;}
.flag_CZ_big{background-position:-2300px -22px;}
.flag_DE_big{background-position:-2346px -22px;}
.flag_DJ_big{background-position:-2392px -22px;}
.flag_DK_big{background-position:-2438px -22px;}
.flag_DM_big{background-position:-2484px -22px;}
.flag_DO_big{background-position:-2530px -22px;}
.flag_DZ_big{background-position:-2576px -22px;}
.flag_EC_big{background-position:-2622px -22px;}
.flag_EE_big{background-position:-2668px -22px;}
.flag_EG_big{background-position:-2714px -22px;}
.flag_EH_big{background-position:-2760px -22px;}
.flag_ER_big{background-position:-2806px -22px;}
.flag_ES_big{background-position:-2852px -22px;}
.flag_ET_big{background-position:-2898px -22px;}
.flag_FI_big{background-position:-2944px -22px;}
.flag_FJ_big{background-position:-2990px -22px;}
.flag_FM_big{background-position:-3036px -22px;}
.flag_FO_big{background-position:-3082px -22px;}
.flag_FR_big{background-position:-3128px -22px;}
.flag_GA_big{background-position:-3174px -22px;}
.flag_GB_big{background-position:-3220px -22px;}
.flag_GD_big{background-position:-3266px -22px;}
.flag_GE_big{background-position:-3312px -22px;}
.flag_GG_big{background-position:-3358px -22px;}
.flag_GH_big{background-position:-3404px -22px;}
.flag_GI_big{background-position:-3450px -22px;}
.flag_GL_big{background-position:-3496px -22px;}
.flag_GM_big{background-position:-3542px -22px;}
.flag_GN_big{background-position:-3588px -22px;}
.flag_GP_big{background-position:-3634px -22px;}
.flag_GQ_big{background-position:-3680px -22px;}
.flag_GR_big{background-position:-3726px -22px;}
.flag_GT_big{background-position:-3772px -22px;}
.flag_GU_big{background-position:-3818px -22px;}
.flag_GW_big{background-position:-3864px -22px;}
.flag_GY_big{background-position:-3910px -22px;}
.flag_HK_big{background-position:-3956px -22px;}
.flag_HN_big{background-position:-4002px -22px;}
.flag_HR_big{background-position:-4048px -22px;}
.flag_HT_big{background-position:-4094px -22px;}
.flag_HU_big{background-position:-4140px -22px;}
.flag_ID_big{background-position:-4186px -22px;}
.flag_IE_big{background-position:-4232px -22px;}
.flag_IL_big{background-position:-4278px -22px;}
.flag_IM_big{background-position:-4324px -22px;}
.flag_IN_big{background-position:-4370px -22px;}
.flag_IQ_big{background-position:-4416px -22px;}
.flag_IR_big{background-position:-4462px -22px;}
.flag_IS_big{background-position:-4508px -22px;}
.flag_IT_big{background-position:-4554px -22px;}
.flag_JE_big{background-position:-4600px -22px;}
.flag_JM_big{background-position:-4646px -22px;}
.flag_JO_big{background-position:-4692px -22px;}
.flag_JP_big{background-position:-4738px -22px;}
.flag_KE_big{background-position:-4784px -22px;}
.flag_KG_big{background-position:-4830px -22px;}
.flag_KH_big{background-position:-4876px -22px;}
.flag_KI_big{background-position:-4922px -22px;}
.flag_KM_big{background-position:-4968px -22px;}
.flag_KN_big{background-position:-5014px -22px;}
.flag_KP_big{background-position:-5060px -22px;}
.flag_KR_big{background-position:-5106px -22px;}
.flag_KW_big{background-position:-5152px -22px;}
.flag_KY_big{background-position:-5198px -22px;}
.flag_KZ_big{background-position:-5244px -22px;}
.flag_LA_big{background-position:-5290px -22px;}
.flag_LB_big{background-position:-5336px -22px;}
.flag_LC_big{background-position:-5382px -22px;}
.flag_LI_big{background-position:-5428px -22px;}
.flag_LK_big{background-position:-5474px -22px;}
.flag_LR_big{background-position:-5520px -22px;}
.flag_LS_big{background-position:-5566px -22px;}
.flag_LT_big{background-position:-5612px -22px;}
.flag_LU_big{background-position:-5658px -22px;}
.flag_LV_big{background-position:-5704px -22px;}
.flag_LY_big{background-position:-5750px -22px;}
.flag_MA_big{background-position:-5796px -22px;}
.flag_MC_big{background-position:-5842px -22px;}
.flag_MD_big{background-position:-5888px -22px;}
.flag_ME_big{background-position:-5934px -22px;}
.flag_MG_big{background-position:-5980px -22px;}
.flag_MH_big{background-position:-6026px -22px;}
.flag_MK_big{background-position:-6072px -22px;}
.flag_ML_big{background-position:-6118px -22px;}
.flag_MM_big{background-position:-6164px -22px;}
.flag_MN_big{background-position:-6210px -22px;}
.flag_MO_big{background-position:-6256px -22px;}
.flag_MQ_big{background-position:-6302px -22px;}
.flag_MR_big{background-position:-6348px -22px;}
.flag_MS_big{background-position:-6394px -22px;}
.flag_MT_big{background-position:-6440px -22px;}
.flag_MU_big{background-position:-6486px -22px;}
.flag_MV_big{background-position:-6532px -22px;}
.flag_MW_big{background-position:-6578px -22px;}
.flag_MX_big{background-position:-6624px -22px;}
.flag_MY_big{background-position:-6670px -22px;}
.flag_MZ_big{background-position:-6716px -22px;}
.flag_NA_big{background-position:-6762px -22px;}
.flag_NC_big{background-position:-6808px -22px;}
.flag_NE_big{background-position:-6854px -22px;}
.flag_NG_big{background-position:-6900px -22px;}
.flag_NI_big{background-position:-6946px -22px;}
.flag_NL_big{background-position:-6992px -22px;}
.flag_NO_big{background-position:-7038px -22px;}
.flag_NP_big{background-position:-7084px -22px;}
.flag_NR_big{background-position:-7130px -22px;}
.flag_NZ_big{background-position:-7176px -22px;}
.flag_OM_big{background-position:-7222px -22px;}
.flag_PA_big{background-position:-7268px -22px;}
.flag_PE_big{background-position:-7314px -22px;}
.flag_PF_big{background-position:-7360px -22px;}
.flag_PG_big{background-position:-7406px -22px;}
.flag_PH_big{background-position:-7452px -22px;}
.flag_PK_big{background-position:-7498px -22px;}
.flag_PL_big{background-position:-7544px -22px;}
.flag_PR_big{background-position:-7590px -22px;}
.flag_PS_big{background-position:-7636px -22px;}
.flag_PT_big{background-position:-7682px -22px;}
.flag_PW_big{background-position:-7728px -22px;}
.flag_PY_big{background-position:-7774px -22px;}
.flag_QA_big{background-position:-7820px -22px;}
.flag_RE_big{background-position:-7866px -22px;}
.flag_RO_big{background-position:-7912px -22px;}
.flag_RS_big{background-position:-7958px -22px;}
.flag_RU_big{background-position:-8004px -22px;}
.flag_RW_big{background-position:-8050px -22px;}
.flag_SA_big{background-position:-8096px -22px;}
.flag_SB_big{background-position:-8142px -22px;}
.flag_SC_big{background-position:-8188px -22px;}
.flag_SD_big{background-position:-8234px -22px;}
.flag_SE_big{background-position:-8280px -22px;}
.flag_SG_big{background-position:-8326px -22px;}
.flag_SI_big{background-position:-8372px -22px;}
.flag_SK_big{background-position:-8418px -22px;}
.flag_SL_big{background-position:-8464px -22px;}
.flag_SM_big{background-position:-8510px -22px;}
.flag_SN_big{background-position:-8556px -22px;}
.flag_SO_big{background-position:-8602px -22px;}
.flag_SR_big{background-position:-8648px -22px;}
.flag_ST_big{background-position:-8694px -22px;}
.flag_SV_big{background-position:-8740px -22px;}
.flag_SY_big{background-position:-8786px -22px;}
.flag_SZ_big{background-position:-8832px -22px;}
.flag_TC_big{background-position:-8878px -22px;}
.flag_TD_big{background-position:-8924px -22px;}
.flag_TG_big{background-position:-8970px -22px;}
.flag_TH_big{background-position:-9016px -22px;}
.flag_TJ_big{background-position:-9062px -22px;}
.flag_TL_big{background-position:-9108px -22px;}
.flag_TM_big{background-position:-9154px -22px;}
.flag_TN_big{background-position:-9200px -22px;}
.flag_TO_big{background-position:-9246px -22px;}
.flag_TR_big{background-position:-9292px -22px;}
.flag_TT_big{background-position:-9338px -22px;}
.flag_TV_big{background-position:-9384px -22px;}
.flag_TW_big{background-position:-9430px -22px;}
.flag_TZ_big{background-position:-9476px -22px;}
.flag_UA_big{background-position:-9522px -22px;}
.flag_UG_big{background-position:-9568px -22px;}
.flag_US_big{background-position:-9614px -22px;}
.flag_UY_big{background-position:-9660px -22px;}
.flag_UZ_big{background-position:-9706px -22px;}
.flag_VA_big{background-position:-9752px -22px;}
.flag_VC_big{background-position:-9798px -22px;}
.flag_VE_big{background-position:-9844px -22px;}
.flag_VG_big{background-position:-9890px -22px;}
.flag_VI_big{background-position:-9936px -22px;}
.flag_VN_big{background-position:-9982px -22px;}
.flag_VU_big{background-position:-10028px -22px;}
.flag_WS_big{background-position:-10074px -22px;}
.flag_YE_big{background-position:-10120px -22px;}
.flag_ZA_big{background-position:-10166px -22px;}
.flag_ZM_big{background-position:-10212px -22px;}
.flag_ZW_big{background-position:-10258px -22px;}
/* Mini Flags */
.flag__min{background-position:-6720px 0;}
.flag_AD_min{background-position:-6736px 0;}
.flag_AE_min{background-position:-6752px 0;}
.flag_AF_min{background-position:-6768px 0;}
.flag_AG_min{background-position:-6784px 0;}
.flag_AI_min{background-position:-6800px 0;}
.flag_AL_min{background-position:-6816px 0;}
.flag_AM_min{background-position:-6832px 0;}
.flag_AN_min{background-position:-6848px 0;}
.flag_AO_min{background-position:-6864px 0;}
.flag_AQ_min{background-position:-6880px 0;}
.flag_AR_min{background-position:-6896px 0;}
.flag_AS_min{background-position:-6912px 0;}
.flag_AT_min{background-position:-6928px 0;}
.flag_AU_min{background-position:-6944px 0;}
.flag_AW_min{background-position:-6960px 0;}
.flag_AZ_min{background-position:-6976px 0;}
.flag_BA_min{background-position:-6992px 0;}
.flag_BB_min{background-position:-7008px 0;}
.flag_BD_min{background-position:-7024px 0;}
.flag_BE_min{background-position:-7040px 0;}
.flag_BF_min{background-position:-7056px 0;}
.flag_BG_min{background-position:-7072px 0;}
.flag_BH_min{background-position:-7088px 0;}
.flag_BI_min{background-position:-7104px 0;}
.flag_BJ_min{background-position:-7120px 0;}
.flag_BM_min{background-position:-7136px 0;}
.flag_BN_min{background-position:-7152px 0;}
.flag_BO_min{background-position:-7168px 0;}
.flag_BR_min{background-position:-7184px 0;}
.flag_BS_min{background-position:-7200px 0;}
.flag_BT_min{background-position:-7216px 0;}
.flag_BW_min{background-position:-7232px 0;}
.flag_BY_min{background-position:-7248px 0;}
.flag_BZ_min{background-position:-7264px 0;}
.flag_CA_min{background-position:-7280px 0;}
.flag_CD_min{background-position:-7296px 0;}
.flag_CF_min{background-position:-7312px 0;}
.flag_CG_min{background-position:-7328px 0;}
.flag_CH_min{background-position:-7344px 0;}
.flag_CI_min{background-position:-7360px 0;}
.flag_CK_min{background-position:-7376px 0;}
.flag_CL_min{background-position:-7392px 0;}
.flag_CM_min{background-position:-7408px 0;}
.flag_CN_min{background-position:-7424px 0;}
.flag_CO_min{background-position:-7440px 0;}
.flag_CR_min{background-position:-7456px 0;}
.flag_CS_min{background-position:-9488px 0;}
.flag_CU_min{background-position:-7472px 0;}
.flag_CV_min{background-position:-7488px 0;}
.flag_CY_min{background-position:-7504px 0;}
.flag_CZ_min{background-position:-7520px 0;}
.flag_DE_min{background-position:-7536px 0;}
.flag_DJ_min{background-position:-7552px 0;}
.flag_DK_min{background-position:-7568px 0;}
.flag_DM_min{background-position:-7584px 0;}
.flag_DO_min{background-position:-7600px 0;}
.flag_DZ_min{background-position:-7616px 0;}
.flag_EC_min{background-position:-7632px 0;}
.flag_EE_min{background-position:-7648px 0;}
.flag_EG_min{background-position:-7664px 0;}
.flag_EH_min{background-position:-7680px 0;}
.flag_ER_min{background-position:-7696px 0;}
.flag_ES_min{background-position:-7712px 0;}
.flag_ET_min{background-position:-7728px 0;}
.flag_FI_min{background-position:-7744px 0;}
.flag_FJ_min{background-position:-7760px 0;}
.flag_FM_min{background-position:-7776px 0;}
.flag_FO_min{background-position:-7792px 0;}
.flag_FR_min{background-position:-7808px 0;}
.flag_GA_min{background-position:-7824px 0;}
.flag_GB_min{background-position:-7840px 0;}
.flag_GD_min{background-position:-7856px 0;}
.flag_GE_min{background-position:-7872px 0;}
.flag_GG_min{background-position:-7888px 0;}
.flag_GH_min{background-position:-7904px 0;}
.flag_GI_min{background-position:-7920px 0;}
.flag_GL_min{background-position:-7936px 0;}
.flag_GM_min{background-position:-7952px 0;}
.flag_GN_min{background-position:-7968px 0;}
.flag_GP_min{background-position:-7984px 0;}
.flag_GQ_min{background-position:-8000px 0;}
.flag_GR_min{background-position:-8016px 0;}
.flag_GT_min{background-position:-8032px 0;}
.flag_GU_min{background-position:-8048px 0;}
.flag_GW_min{background-position:-8064px 0;}
.flag_GY_min{background-position:-8080px 0;}
.flag_HK_min{background-position:-8096px 0;}
.flag_HN_min{background-position:-8112px 0;}
.flag_HR_min{background-position:-8128px 0;}
.flag_HT_min{background-position:-8144px 0;}
.flag_HU_min{background-position:-8160px 0;}
.flag_ID_min{background-position:-8176px 0;}
.flag_IE_min{background-position:-8192px 0;}
.flag_IL_min{background-position:-8208px 0;}
.flag_IM_min{background-position:-8224px 0;}
.flag_IN_min{background-position:-8240px 0;}
.flag_IQ_min{background-position:-8256px 0;}
.flag_IR_min{background-position:-8272px 0;}
.flag_IS_min{background-position:-8288px 0;}
.flag_IT_min{background-position:-8304px 0;}
.flag_JE_min{background-position:-8320px 0;}
.flag_JM_min{background-position:-8336px 0;}
.flag_JO_min{background-position:-8352px 0;}
.flag_JP_min{background-position:-8368px 0;}
.flag_KE_min{background-position:-8384px 0;}
.flag_KG_min{background-position:-8400px 0;}
.flag_KH_min{background-position:-8416px 0;}
.flag_KI_min{background-position:-8432px 0;}
.flag_KM_min{background-position:-8448px 0;}
.flag_KN_min{background-position:-8464px 0;}
.flag_KP_min{background-position:-8480px 0;}
.flag_KR_min{background-position:-8496px 0;}
.flag_KW_min{background-position:-8512px 0;}
.flag_KY_min{background-position:-8528px 0;}
.flag_KZ_min{background-position:-8544px 0;}
.flag_LA_min{background-position:-8560px 0;}
.flag_LB_min{background-position:-8576px 0;}
.flag_LC_min{background-position:-8592px 0;}
.flag_LI_min{background-position:-8608px 0;}
.flag_LK_min{background-position:-8624px 0;}
.flag_LR_min{background-position:-8640px 0;}
.flag_LS_min{background-position:-8656px 0;}
.flag_LT_min{background-position:-8672px 0;}
.flag_LU_min{background-position:-8688px 0;}
.flag_LV_min{background-position:-8704px 0;}
.flag_LY_min{background-position:-8720px 0;}
.flag_MA_min{background-position:-8736px 0;}
.flag_MC_min{background-position:-8752px 0;}
.flag_MD_min{background-position:-8768px 0;}
.flag_ME_min{background-position:-8784px 0;}
.flag_MG_min{background-position:-8800px 0;}
.flag_MH_min{background-position:-8816px 0;}
.flag_MK_min{background-position:-8832px 0;}
.flag_ML_min{background-position:-8848px 0;}
.flag_MM_min{background-position:-8864px 0;}
.flag_MN_min{background-position:-8880px 0;}
.flag_MO_min{background-position:-8896px 0;}
.flag_MQ_min{background-position:-8912px 0;}
.flag_MR_min{background-position:-8928px 0;}
.flag_MS_min{background-position:-8944px 0;}
.flag_MT_min{background-position:-8960px 0;}
.flag_MU_min{background-position:-8976px 0;}
.flag_MV_min{background-position:-8992px 0;}
.flag_MW_min{background-position:-9008px 0;}
.flag_MX_min{background-position:-9024px 0;}
.flag_MY_min{background-position:-9040px 0;}
.flag_MZ_min{background-position:-9056px 0;}
.flag_NA_min{background-position:-9072px 0;}
.flag_NC_min{background-position:-9088px 0;}
.flag_NE_min{background-position:-9104px 0;}
.flag_NG_min{background-position:-9120px 0;}
.flag_NI_min{background-position:-9136px 0;}
.flag_NL_min{background-position:-9152px 0;}
.flag_NO_min{background-position:-9168px 0;}
.flag_NP_min{background-position:-9184px 0;}
.flag_NR_min{background-position:-9200px 0;}
.flag_NZ_min{background-position:-9216px 0;}
.flag_OM_min{background-position:-9232px 0;}
.flag_PA_min{background-position:-9248px 0;}
.flag_PE_min{background-position:-9264px 0;}
.flag_PF_min{background-position:-9280px 0;}
.flag_PG_min{background-position:-9296px 0;}
.flag_PH_min{background-position:-9312px 0;}
.flag_PK_min{background-position:-9328px 0;}
.flag_PL_min{background-position:-9344px 0;}
.flag_PR_min{background-position:-9360px 0;}
.flag_PS_min{background-position:-9376px 0;}
.flag_PT_min{background-position:-9392px 0;}
.flag_PW_min{background-position:-9408px 0;}
.flag_PY_min{background-position:-9424px 0;}
.flag_QA_min{background-position:-9440px 0;}
.flag_RE_min{background-position:-9456px 0;}
.flag_RO_min{background-position:-9472px 0;}
.flag_RS_min{background-position:-9488px 0;}
.flag_RU_min{background-position:-9504px 0;}
.flag_RW_min{background-position:-9520px 0;}
.flag_SA_min{background-position:-9536px 0;}
.flag_SB_min{background-position:-9552px 0;}
.flag_SC_min{background-position:-9568px 0;}
.flag_SD_min{background-position:-9584px 0;}
.flag_SE_min{background-position:-9600px 0;}
.flag_SG_min{background-position:-9616px 0;}
.flag_SI_min{background-position:-9632px 0;}
.flag_SK_min{background-position:-9648px 0;}
.flag_SL_min{background-position:-9664px 0;}
.flag_SM_min{background-position:-9680px 0;}
.flag_SN_min{background-position:-9696px 0;}
.flag_SO_min{background-position:-9712px 0;}
.flag_SR_min{background-position:-9728px 0;}
.flag_ST_min{background-position:-9744px 0;}
.flag_SV_min{background-position:-9760px 0;}
.flag_SY_min{background-position:-9776px 0;}
.flag_SZ_min{background-position:-9792px 0;}
.flag_TC_min{background-position:-9808px 0;}
.flag_TD_min{background-position:-9824px 0;}
.flag_TG_min{background-position:-9840px 0;}
.flag_TH_min{background-position:-9856px 0;}
.flag_TJ_min{background-position:-9872px 0;}
.flag_TL_min{background-position:-9888px 0;}
.flag_TM_min{background-position:-9904px 0;}
.flag_TN_min{background-position:-9920px 0;}
.flag_TO_min{background-position:-9936px 0;}
.flag_TR_min{background-position:-9952px 0;}
.flag_TT_min{background-position:-9968px 0;}
.flag_TV_min{background-position:-9984px 0;}
.flag_TW_min{background-position:-10000px 0;}
.flag_TZ_min{background-position:-10016px 0;}
.flag_UA_min{background-position:-10032px 0;}
.flag_UG_min{background-position:-10048px 0;}
.flag_US_min{background-position:-10064px 0;}
.flag_UY_min{background-position:-10080px 0;}
.flag_UZ_min{background-position:-10096px 0;}
.flag_VA_min{background-position:-10112px 0;}
.flag_VC_min{background-position:-10128px 0;}
.flag_VE_min{background-position:-10144px 0;}
.flag_VG_min{background-position:-10160px 0;}
.flag_VI_min{background-position:-10176px 0;}
.flag_VN_min{background-position:-10192px 0;}
.flag_VU_min{background-position:-10208px 0;}
.flag_WS_min{background-position:-10224px 0;}
.flag_YE_min{background-position:-10240px 0;}
.flag_ZA_min{background-position:-10256px 0;}
.flag_ZM_min{background-position:-10272px 0;}
.flag_ZW_min{background-position:-10288px 0;}


/* -- ADDITIONAL DUE TO NEW AD FORMATS -- */

